<div class="container">
  <h1>MiniTracker</h1>
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" class="form-control" [(ngModel)]="PlayerRequest.Name" placeholder="Enter the Username" [ngbTooltip]="tipContent">
  </div>
  <div class="form-group">
    <label for="command">Select the Game</label>
    <select class="form-control" id="command" [(ngModel)]="SelectedCommand" (ngModelChange)="onGameChange($event)">
        <option *ngFor="let command of Commands" [ngValue]="command">
            {{command.Display}}
          </option>
    </select>
  </div>
  <div class="form-group">
      <label for="modes">Select the Mode</label>
      <select class="form-control" id="command" [(ngModel)]="SelectedMode" (ngModelChange)="onModeChange($event)">
          <option *ngFor="let mode of PossibleModes" [ngValue]="mode">
              {{mode}}
            </option>
      </select>
    </div>
</div>

<ng-template #tipContent>For battle.net users, please use the <b>#</b> Id indicator. For example <b>WingExposed#666</b></ng-template>
